In [4]:
import pandas as pd
import numpy as np
dataFile = "ALLdata.xlsx"
data = pd.read_excel(dataFile)
data = data[1160:][["SalePrice"]]

In [5]:
data

      SalePrice
1160      85000
1161     235000
1162     127000
1163     277000
1164     280000
1165     108000
1166     168500
1167     129000
1168      97000
1169     170000
1170     160000
1171     129900
1172     146000
1173     224000
1174     129000
1175     108959
1176     194000
1177     233170
1178     245350
1179     173000
1180     235000
1181     625000
1182     163000
1183     171900
1184     200500
1185     239000
1186     285000
1187     119500
1188     115000
1189     154900
...         ...
1430     192140
1431     143750
1432      64500
1433     186500
1434     160000
1435     174000
1436     120500
1437     394617
1438     149700
1439     197000
1440     191000
1441     149300
1442     310000
1443     121000
1444     179600
1445     129000
1446     157900
1447     240000
1448     112000
1449      92000
1450     136000
1451     287090
1452     145000
1453      84500
1454     185000
1455     175000
1456     210000
1457     266500
1458     142125
1459     147500

[300 rows x 1 columns]

In [6]:
dataFile = "testy.csv"
data.to_csv(dataFile, index = False)